@media( max-width:1199.98px){
   
}
@media( max-width:991.98px){
 .logo{
     line-height: 25px;
 }   
 .nav-right ul li a{
     margin-left: 14px;
 }
 .block2 h1{
     margin: 0 0 14px;
 }
 .block2 p:last-child{
   margin-top: 18px;
 }
 .third-down{
     width: 100%;
 }
 .fourth .container{
     flex-wrap: wrap;
     justify-content: center;
 }
 .square1{
     margin-right: 0;
 }
 .square2{
     margin-top: 25px;
     text-align: center;
 }
 footer{
     padding: 27px 0 43px;
 }
 
}
@media( max-width:767.98px){
    nav .container{
        flex-wrap: wrap;
    }
    .nav-right ul li a{
        margin-left: 0;
        margin-right: 15px;
    }
    .nav-right{
        margin-top: 30px;
    }
    .logo2{
        margin-top: 6px;
    }
    header h1{
        font-size: 40px;
    }
    header p{
        margin: 20px 0 45px;
    }
    .block2 h1{
       font-size: 29px;
       margin: 25px auto;
    }
    .block1{
        display: flex;
        justify-content: center;
    }
    .first-item{
        flex-direction: column;
       align-items: center;
    }
    .block2{
        margin: 0;
        text-align: center;
    }
    .second h1{
        font-size: 30px;
    }
    .third h1{
        font-size: 25px;
    }
    .food p{
        font-size: 14px;
    }
    .square2 h1{
        font-size: 30px;
    }
    footer .col-xl-5 h1{
      font-size: 30px;    
    }
    footer{
        padding: 18px 0 19px;
    }
    
}
@media( max-width:575.98px){
    nav .container{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .logo2{
        text-align: center;
    }
    .nav-right ul{
        flex-direction: column;
        text-align: center;
    }
    nav{
        margin-top: -334px;
    }
    header{
        padding-bottom: 342px;
    }
    header .container{
        text-align: center;
        flex-wrap: wrap;
    }
    header h1{
        font-size: 33px;
        margin-top: 17px;
    }
    .nav-left{
        width: 100%;
    }
    .first{
        padding: 59px 0;
    }
    .second h1{
        font-size: 25px;
    }
    .get{
        font-size: 13px;
        padding: 16px 35px;
    }
     .third-item{
         flex-direction: column;
     }
     .third-down{
         flex-direction: column;
         margin: 45px auto;
     }
     .third-item .food:not(:last-child){
         margin-bottom: 45px;
     }
     .third-down .food:not(:last-child){
         margin-bottom: 45px;
     }
     .third{
        padding-top: 55px;
     }
     .second{
         padding: 32px 0 8px;
     }
     .card-items a{
         padding: 11px 22px;
         font-size: 12px;
     }
     .second h1{
         font-size: 19px;
     }
     .square1 img{
        width: 100%; 
     }
     .square2 a{
         font-size: 14px;
     }
     .square2 h1{
         font-size: 25px;
     }
     .fourth{
         padding: 35px 0;
     }
     .block1 img{
         width: 100%;
     }
     footer .col-xl-5{
         text-align: center;
     }
     footer .col-xl-5:first-child{
         margin-bottom: 25px;
     }
     .footer-block,
     .footer-kudrat{
         justify-content: center;
     }
     .footer-block img,
     .footer-kudrat img{
         margin-right: 14px;
     }
     footer .col-xl-5 h1{
        font-size: 25px;
        margin: 0 auto;    
      }
      footer .row{
          flex-direction: column;
          justify-content: center;
        
      }
     
}